@tailwind base;
@tailwind components;
@tailwind utilities;


.moviegrid {
  text-align: center;
  padding: .5rem .5rem;
}

.movie1 {
  display: inline-block;
  padding: 1rem 1rem;
  width: 300px;
  height: 300px;
  margin-bottom: 20%;

}

.movie2 {
    display: inline-block;
    padding: 1rem 1rem;
    width: 300px;
    height: 300px;
    margin-bottom: 20%;

}

.movie3 {
    display: inline-block;
    padding: 1rem 1rem;
    width: 300px;
    height: 300px;
    margin-bottom: 20%;
}

.movie4 {
    display: inline-block;
    padding: 1rem 1rem;
    width: 300px;
    height: 300px;
    margin-bottom: 20%;
}

.button {
    padding: .5rem .5rem;
    margin-bottom: 1rem;
    background-color: gold;
}

.Overview {
    padding: .5rem .5rem;
    margin-bottom: 1rem;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    
}

.StreakCounter {
    padding: .5rem .5rem;
    margin-bottom: 1rem;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}